@model Employee.Data.Forms.CreateUserForm

@{
    ViewBag.Title = "Registration";
    Layout = "_Layout";
}

<form class="gradient-custom" method="post" asp-action="SignUp" asp-controller="Account">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card text-white" style="border-radius: 1rem;">
                    <div class="card-body px-5 text-center">

                        <div class="md-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                            <p class="text-white-50 mb-4">Please enter your information!</p>

                            <div class="row">
                                <div class="col">
                                    <div class="form-outline mb-3">
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="First name" asp-for="FirstName"/>
                                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline mb-3">
                                        <input type="text" class="form-control form-control-lg"
                                               placeholder="Last name" asp-for="LastName"/>
                                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="form-outline mb-3">
                                <input type="email" class="form-control form-control-lg"
                                       placeholder="Email" asp-for="Email"/>
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="text" class="form-control form-control-lg"
                                       placeholder="Personal Id" asp-for="PersonalId" value=""/>
                                <span asp-validation-for="@Model.PersonalId" class="text-danger"></span>
                            </div>


                            <div class="form-outline mb-3">
                                <select class="form-select mb-3" asp-for="Gender">
                                    <option class=" form-select" value="" disabled selected hidden>Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                                <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="date" class="form-control form-control-lg"
                                       asp-for="DateOfBirth"/>
                                <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" class="form-control form-control-lg"
                                       placeholder="Password" asp-for="Password"/>
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" class="form-control form-control-lg"
                                       placeholder="Confirm Password" asp-for="ConfirmPassword"/>
                                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                            </div>
                            @if (!string.IsNullOrEmpty(TempData["ErrorMessage"]?.ToString()))
                            {
                                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                            }

                            <button class="btn btn-outline-light px-5" type="submit">Register</button>

                        </div>

                        <div>
                            <p class="my-2">
                                Already Registered?
                                <a class="loginButton" asp-controller="Account" asp-action="SignIn" style="text-decoration: none">
                                    <strong class="text-primary">Log in</strong>
                                </a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>